@import "../ISOF-React-modules/less/mixins.less";
@import "../ISOF-React-modules/less/skeleton.less";
@import "../ISOF-React-modules/less/leaflet.less";
@import "../ISOF-React-modules/less/MarkerCluster.Default.less";
@import "../ISOF-React-modules/less/nouislider.less";

@import "../ISOF-React-modules/less/minimal-scrollbar.less";
@import "../ISOF-React-modules/less/tables.less";

@import "../ISOF-React-modules/less/ui-components/popupwindow.less";
@import "../ISOF-React-modules/less/ui-components/map.less";

@import "../ISOF-React-modules/less/advanced/graph.less";
@import "../ISOF-React-modules/less/advanced/map.less";
@import "../ISOF-React-modules/less/advanced/documents-list.less";

@color-red: #a6192e;
@color-red-lighter: #d4454c;
@color-red-divider: #b62837;
@color-gray: #edeff1;

body {
	padding: 0;
	margin: 0;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 1rem;

	&.has-overlay {
		padding-right: 20px;
		
		overflow: hidden;
	}
}

.component-frame {
	margin-bottom: 20px;

	box-sizing: border-box;
	border-radius: 1px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);

	background: #f8f8f8;
}

hr {
	margin: 10px 0 30px 0;
}

.document-view {
	margin: 0 20px;
}

.checkbox-list {
	.item {
		margin-bottom: 5px;

		input {
			margin-bottom: 0;
		}
	}
}